<<<<<<< HEAD
<div>
    <h1>dashboard</h1>
    
    <p>
        Welcome, <%= Current.user.email_address %>
    </p>
    <%= button_to "Logout", session_path, method: :delete %>
    <%= button_to "Ver Pacientes", pacientes_path, method: :get, class: "btn btn-primary" %>
<div class="min-h-screen bg-gray-100">

  <header class="bg-blue-500 text-white py-4 px-8">
    <div class="max-w-[220px]">
      <h1 class="text-2xl font-bold">Destiny</h1>
      <nav>
        <a href="#" class="text-white hover:text-gray-300 px-4">Contacto</a>
      </nav>
    </div>
  </header>

  <div class="flex items-center justify-center h-[80vh]">
    <div class="bg-white shadow-lg rounded-lg p-8">
      <h2 class="text-2xl font-bold text-gray-800">¡Bienvenido a Destiny!</h2>
      
      <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        ¡Haz clic aquí!
      </button>
    </div>
  </div>
</div>
hola
