<div>
    <h1>dashboard</h1>
    
    <p>
        Welcome, <%= Current.user.email_address %>
    </p>
    <%= button_to "Logout", session_path, method: :delete %>
    <%= button_to "Ver Pacientes", pacientes_path, method: :get, class: "btn btn-primary" %>
</div>
hola
